@page
@model heat_production_optimization.Pages.CustomProductionUnitsModel
@{
}

<h1>Production Units</h1>

@foreach(var unit in Model.productionUnits)
{
	<form method="post">
		<br />
		<p class="fw-bold">@unit.Name</p>

		<div class ="row">
			<p>Alias</p>
			<input type="text" name="Alias" placeholder="@unit.Alias"/>
		</div>

		<div class="row">
			<p>Name</p>
			<input type="text" name="Name" class="row" placeholder="@unit.Name"/>
		</div>

		<div class="row">
			<p>Max Heat</p>
			<input type="number" name="MaxHeat" class="row" placeholder="@unit.MaxHeat"/>
		</div>

		<div class="row">
			<p>Max Electricity</p>
			<input type="number" name="MaxElectricity" class="row" placeholder="@unit.MaxElectricity"/>
		</div>

		<div class="row">
			<p>Production Costs</p>
			<input type="number" name="ProductionCostMWh" placeholder="@unit.ProductionCostMWh" />
		</div>

		<div class="row">
			<p>CO2 Emissions</p>
			<input type="number" name="CO2EmissionMWh" placeholder="@unit.CO2EmissionMWh"/>
		</div>

		<div class="row">
			<p>Gas Consumption</p>
			<input type="number" name="GasConsumption" placeholder="@unit.GasConsumption"/>
		</div>

		<div class="row">
			<p>Oil Consumption</p>
			<input type="number" name="OilConsumption" placeholder="@unit.OilConsumption"/>
		</div>


		<button type="submit">Add</button>

	</form>
}
