@page
@model heat_production_optimization.Pages.DataDisplayModel
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
	<style>

		.table-container {
			width: 80vw;
			margin: 25px;
			padding: 10px 30px 10px 30px;
			border-radius: 10px;
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
			background-color: #fff;
		}

		.table :not(:last-child) :last-child * {
			border-bottom-color: #ffa31a;
			border-bottom-width: 2px;
		}

	</style>
</head>

<body>

@if(Model.heatDemandData.Count()>0)
{
	<div class="table-container">
		<table class="table">
			<thead class="table-headers">
				<tr>
					<th>Item Id</th>
					<th>Time from</th>
					<th>Time to</th>
					<th>Heat Demand</th>
					<th>Electricity Price</th>
				</tr>
			</thead>

			<tbody>
				@foreach (var item in Model.heatDemandData)
				{
					<tr>
						<td>@item.Id</td>
						<td>@item.timeFrom</td>
						<td>@item.timeTo</td>
						<td>@item.heatDemand</td>
						<td>@item.electricityPrice</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
}
else
{
	<h1>There is no data to display yet</h1>
}


</body>

</html>