@page
@model IndexModel

<h1>Asset Manager</h1>

@await Component.InvokeAsync("DataUpload")

<br>

<div class="row">
    <img src="~/images/gas_boiler.png" alt="Gas Boiler" class="col" style="max-height: 230px; max-width: 457px"/>
    <div class="col" style="max-height:230px">
        <br>Name: @Model.gasBoiler.Name (@Model.gasBoiler.Alias)
        <br>Maximum Produced Heat: @Model.gasBoiler.MaxHeat MW
        <br>Production Cost: @Model.gasBoiler.ProductionCostMWh DKK/MWh(heat)
        <br>CO2 Emissions: @Model.gasBoiler.CO2EmissionMWh kg/MWh(heat)
        <br>Gas Consumption: @Model.gasBoiler.GasConsumption MWh(gas)/MWh(heat)
    </div>
</div>

<br>

<div class="row">
    <img src="~/images/oil_boiler.png" alt="Oil Boiler" class="col" style="max-height: 230px; max-width: 457px" />
    <div class="col" style="max-height: 230px;">
        <br>Name: @Model.oilBoiler.Name (@Model.oilBoiler.Alias)
        <br>Maximum Produced Heat: @Model.oilBoiler.MaxHeat MW
        <br>Production Cost: @Model.oilBoiler.ProductionCostMWh DKK/MWh(heat)
        <br>CO2 Emissions: @Model.oilBoiler.CO2EmissionMWh kg/MWh(heat)
        <br>Oil Consumption: @Model.oilBoiler.OilConsumption MWh(oil)/MWh(heat)
    </div>
</div>

<br>

<div class="row">
    <img src="~/images/gas_motor.png" alt="Gas Motor" class="col" style="max-height: 230px; max-width: 457px" />
    <div class="col" style="max-height: 230px;">
        <br>Name: @Model.gasMotor.Name (@Model.gasMotor.Alias)
        <br>Maximum Produced Heat: @Model.gasMotor.MaxHeat MW
        <br>Maximum Produced Electricity: @Model.gasMotor.MaxElectricity MW
        <br>Production Cost: @Model.gasMotor.ProductionCostMWh DKK/MWh(heat)
        <br>CO2 Emissions: @Model.gasMotor.CO2EmissionMWh kg/MWh(heat)
        <br>Gas Consumption: @Model.gasMotor.GasConsumption MWh(gas)/MWh(heat)
    </div>
</div>

<br>

<div class="row">
    <img src="~/images/electric_boiler.png" alt="Electric Boiler" class="col" style="max-height: 230px; max-width: 457px" />
    <div class="col" style="max-height: 230px;">
        <br>Name: @Model.electricBoiler.Name (@Model.electricBoiler.Alias)
        <br>Maximum Produced Heat: @Model.electricBoiler.MaxHeat MW
        <br>Production Cost: @Model.electricBoiler.ProductionCostMWh DKK/MWh(heat)
        <br>CO2 Emissions: @Model.electricBoiler.CO2EmissionMWh kg/MWh(heat)
        <br>Electricity Consumption: @Math.Abs(Model.electricBoiler.MaxElectricity) MWh(electricity)/MWh(heat)
    </div>
</div>