@page
@model heat_production_optimization.Pages.ProductionUnitConfigurationModel
@{
}

<!DOCTYPE html>
<html lang="en">

<head>
	<style>
		.property-name {
			width: 30%;
			float: left;
		}

		.row {
			margin-bottom: 5px;
		}

		.property-input {
			width: 70%;
			float: right;
			border:none;
			background-color: lightgray;
			border-radius: 10px;
		}

		.page-title {
			margin-bottom: 25px;
			color: #ffa31a;
		}

		.unit-title {
			font-size: 20px;
			font-weight: bold
		}

		.unit-form {
			width: 80vw;
			margin: 25px;
			padding: 40px;
			border-radius: 10px;
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
			background-color: #fff;
		}

		.unit-form-row {
			width:100%;
			margin: 10px;
		}

		.unit-form-button {
			padding: 10px 0;
			margin: 10px 0px 0px 25px;
			font-size: 16px;
			cursor: pointer;
			border: none;
			border-radius: 5px;
			background-color: #ffa31a;
			color: #fff;
			transition: background-color 0.3s ease, transform 0.2s ease;
			width: 10%;
		}

		.unit-form-button-delete {
			padding: 10px 0;
			margin: 10px 0px 0px 25px;
			font-size: 16px;
			cursor: pointer;
			border: none;
			border-radius: 5px;
			background-color: red;
			color: #fff;
			transition: background-color 0.3s ease, transform 0.2s ease;
			width: 10%;
		}

		.unit-form-button:hover, .create-button:hover {
			background-color: #d98e1e;
		}

		.unit-form-button:active, .create-button:active {
			transform: scale(0.95);
		}

		.unit-form-button-delete:hover {
			background-color: darkred;
			color:white;
		}


		.tab {
			display: inline-block;
			margin-left: 30px;
		}

		.create-button {
			padding: 15px 20px 15px 20px;
			margin: 10px 0px 0px 25px;
			font-size: 16px;
			cursor: pointer;
			border: none;
			border-radius: 5px;
			background-color: #ffa31a;
			color: #fff;
			transition: background-color 0.3s ease, transform 0.2s ease;
		}

	</style>
</head>

<body>

	<h1 class="page-title">Configure Production Units</h1>

	@*The .ToString(...) next to the number values is so that they get recognized by html and not set to 0*@

	@if(Model.errorMessage != null || Model.errorMessage != string.Empty) 
	{
		<p>@Model.errorMessage</p>
	}

	@foreach (var unit in Model.productionUnits)
	{
		<div class="unit-form">

			<p class="unit-title">@unit.Name</p>

			<form method="post">

				@if (unit.Alias != "GB" && unit.Alias != "OB" && unit.Alias != "GM" && unit.Alias != "EK")
				{
					<div class="row">
						<p class="property-name"><span class="tab" />Alias</p>
						<input asp-for="formProductionUnit.Alias" value="@unit.Alias" class="property-input" />
					</div>
				}
				else
				{
					<input asp-for="formProductionUnit.Alias" type="hidden" value="@unit.Alias" class="property-input" />
				}

				@if(unit.Alias != "GB" && unit.Alias != "OB" && unit.Alias != "GM" && unit.Alias != "EK") 
				{
					<div class="row">
						<p class="property-name"><span class="tab" />Name</p>
						<input asp-for="formProductionUnit.Name" value="@unit.Name" class="property-input" />
					</div>
				}
				else 
				{
					<input asp-for="formProductionUnit.Name" type="hidden" value="@unit.Name" class="property-input" />
				}


				<div class="row">
					<p class="property-name"><span class="tab" />Max Heat</p>
					<input asp-for="formProductionUnit.MaxHeat" value="@unit.MaxHeat" class="property-input" />
				</div>

				@if (unit.Alias != "GB" && unit.Alias != "OB")
				{
					<div class="row">
						<p class="property-name"><span class="tab" />Max Electricity</p>
						<input asp-for="formProductionUnit.MaxElectricity" value="@unit.MaxElectricity" class="property-input" />
					</div>
				}
				else
				{
					<input asp-for="formProductionUnit.MaxElectricity" type="hidden" value="@unit.MaxElectricity" class="property-input" />
				}

				<div class="row">
					<p class="property-name"><span class="tab" />Production Costs</p>
					<input asp-for="formProductionUnit.ProductionCostMWh" value="@unit.ProductionCostMWh" class="property-input" step=".1" />
				</div>

				<div class="row">
					<p class="property-name"><span class="tab" />CO2 Emissions</p>
					<input asp-for="formProductionUnit.CO2EmissionMWh" value="@unit.CO2EmissionMWh" class="property-input" step=".1" />
				</div>

				@if (unit.Alias != "OB" && unit.Alias != "EK")
				{
					<div class="row">
						<p class="property-name"><span class="tab" />Gas Consumption</p>
						<input asp-for="formProductionUnit.GasConsumption" value="@unit.GasConsumption" class="property-input" step=".1" />
					</div>
				}
				else
				{
					<input asp-for="formProductionUnit.GasConsumption" type="hidden" value="@unit.GasConsumption" class="property-input" />
				}

				@if (unit.Alias != "GB" && unit.Alias != "GM" && unit.Alias != "EK")
				{
					<div class="row">
						<p class="property-name"><span class="tab" />Oil Consumption</p>
						<input asp-for="formProductionUnit.OilConsumption" value="@unit.OilConsumption" class="property-input" step=".1" />
					</div>
				}
				else
				{
					<input asp-for="formProductionUnit.OilConsumption" type="hidden" value="@unit.OilConsumption" class="property-input" />
				}

				<div class="d-inline">
					<input type="hidden" name="action" value="update" />
					<input type="hidden" name="unitId" value="@unit.Id" />
					<button type="submit" class="unit-form-button" name="buttonAction">Save</button>
				</div>
			</form>

			@if (unit.Alias != "GB" && unit.Alias != "OB" && unit.Alias != "GM" && unit.Alias != "EK")
			{
				<form method="post">
					<div class=" = d-inline">
						<input type="hidden" name="action" value="delete" />
						<input type="hidden" name="unitId" value="@unit.Id" />
						<button type="submit" class="unit-form-button-delete" name="buttonAction">Delete</button>
					</div>
				</form>
			}
		</div>
	}

	<form method="post" class="unit-form">
		<input type="hidden" name="action" value="create" />
		<input type="hidden" name="unitId" value="@Guid.NewGuid()" />
		<button type="submit" class="create-button" name="buttonAction">+ Create a new production unit</button>
	</form>


</body>

</html>